body {
    position: relative;
}

#mapping_content {
    padding: 2rem;
    color: #000;
    background: #FFF;
    position: absolute;
    top:0;
    left: -100px;
    width: 600px;
    height: 500px;
    z-index: 99999;
    overflow: auto;
    border: 1rem solid #c8c8c8;
}

#mapping_content div {
    margin-bottom: 1rem;
}

#mapping_content label {
    display: block;
}

#mapping_content select {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 500px;
}

#mapping_content option {
    border-bottom: 1px solid #CCC;
}

.yellow-cell {
    background-color: #ffffce;
}

.red-cell {
    background-color: #ffa1a1;
}

.green-cell {
    background-color: #d7f9d7;
}


/* Loading Overlay */

#loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

#spinner {
    position: relative;
    width: 100%;
    height: 100%;
}
#spinner:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    border: 10px solid #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-top-color: #3fa3a7;
    border-right-color: #3fa3a7;
    -moz-animation: rotate 0.5s linear infinite;
    -webkit-animation: rotate 0.5s linear infinite;
    animation: rotate 0.5s linear infinite;
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
    }
    50% {
        -moz-transform: rotateZ(-180deg);
        transform: rotateZ(-180deg);
    }
    100% {
        -moz-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
    }
    50% {
        -webkit-transform: rotateZ(-180deg);
        transform: rotateZ(-180deg);
    }
    100% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}
@keyframes rotate {
    0% {
        -moz-transform: rotateZ(-360deg);
        -ms-transform: rotateZ(-360deg);
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
    }
    50% {
        -moz-transform: rotateZ(-180deg);
        -ms-transform: rotateZ(-180deg);
        -webkit-transform: rotateZ(-180deg);
        transform: rotateZ(-180deg);
    }
    100% {
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}
